{% extends 'base.html' %} {% block content %}
<h5>Name:</h5>
<p>{{ name }}</p>
<p></p>
<h5>Class:</h5>
<p>{{ class }}</p>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Date Added</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.created_at}}</td>
  </tr>
  {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Product</button>
</a>

{% endblock content %}
